
    /* colors */
    $color-primary: #000f55;
    $color-primary-light: rgba(0, 89, 191, 0.8);
    $color-primary-dark: rgba(0, 30, 64, 0.8);

    $color-white: #fefefefe;
    $color-accent: #f5eaa6;
    $color-black: #222;

    /* fonts */
    $font-primary: 'Montserrat', sans-serif;

    $default-font-size: 1.6rem;